{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:vuejs-accessibility/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "@vue/eslint-config-typescript/recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "rules": {
    "vue/require-default-prop": "off"
  },
  "plugins": ["@typescript-eslint"],
  "root": true
}
