@font-face {
  font-family: pul-icons;
  src: url(/assets/fonts/icons/pul-icons.woff);
}

body {
  font-family: 'franklin-gothic-urw', Helvetica, Arial, sans-serif;
}

.icon {
  font-family: pul-icons;
}

.icon-archives::before {
  content: '\f5f5';
}

.icon-audio::before {
  content: '\e604';
}

.icon-book::before {
  content: '\e60b';
}

.icon-coin::before {
  content: '\e901';
}

.icon-collection::before {
  content: '\f5fa';
}

.icon-compass::before {
  content: '\efd5';
}

.icon-digital::before {
  content: '\e91e';
}

.icon-manuscript::before {
  content: '\e603';
}

.icon-map::before {
  content: '\e602';
}

.icon-musical-score::before {
  content: '\e605';
}

.icon-newtab::before {
  content: '\f639';
}

.icon-question::before {
  content: '\f558';
}

.icon-search::before {
  content: '\e90b';
}

.icon-senior-thesis::before {
  content: '\e600';
}

.icon-text::before {
  content: '\ec40';
}

.icon-visual-material::before {
  content: '\e607';
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Color variables */
:root {
  --black: #0e1111;
  --orange: #e87411;
  --gray: rgb(149, 156, 167);
  --light-gray: rgb(245, 245, 245);
}
